<footer
  id="sticky-footer"
  class="d-flex flex-row justify-content-between py-4 bg-dark text-white-50"
>
  <div class="container d-flex flex-column text-center">
    <small>Copyright &copy; Fenri Mintardja</small>
    <small>TM & © Lucasfilm Ltd. All Rights Reserved</small>
  </div>
  <div class="container d-flex flex-column text-center">
    <small>Copyright &copy; Fenri Mintardja</small>
    <small>TM & © Lucasfilm Ltd. All Rights Reserved</small>
  </div>
  <div class="container d-flex flex-column text-center">
    <small>Copyright &copy; Fenri Mintardja</small>
    <small>TM & © Lucasfilm Ltd. All Rights Reserved</small>
  </div>
</footer>
