.wrapper {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 10px;
  box-sizing: border-box;
  a {
    text-decoration: none;
    font-weight: 300;
    color: white;
  }
  .navigation {
    a {
      text-decoration: none;
      font-weight: 300;
      color: white;
      &.active {
        font-weight: 900;
      }
      &.active::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        transition: all 0.25s;
        background: white;
        box-shadow: 0px 0px 4px 1px #fade4b;
        border-radius: 4px;
        margin-top: 5px;
        opacity: 1;
      }
    }
    a:hover {
      font-weight: 900 !important;
    }

    a::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      transition: all 0.25s;
      background: white;
      box-shadow: 0px 0px 4px 1px #fade4b;
      border-radius: 4px;
      margin-top: 5px;
      opacity: 0;
    }

    a:hover::after {
      opacity: 1;
    }
  }

  .logo {
    height: 20vh;
    width: 25vw;
  }

  .icon {
    font-size: 2rem !important;
    cursor: pointer;
  }
}

.font-name {
  font-family: "StarJedi", sans-serif !important;
  font-size: 20px;
  color: white !important;
}
