<header
  class="wrapper d-flex flex-column justify-content-center align-content-center flex-wrap bg-black text-white"
>
  <!-- Logo image -->
  <div
    class="d-flex flex-row gap-4 text-center justify-content-between mt-4 w-100"
  >
    <div></div>
    <img src="assets/images/header.svg" alt="Logo image" class="logo" />
    <div></div>
  </div>
  <!-- Navigation -->
  <div
    class="d-flex flex-row gap-4 text-center justify-content-center mt-2 pb-3"
  >
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/aboutMe" routerLinkActive="active">About</a>
  </div>
</header>
